.choose_menu {
    padding-top: 30px;
    background: #22222A;
    grid-area: content;
    h1 {
        margin-bottom: 20px;
        text-align: center;
        color: white;
        font-size: 40px;
    }
}