.chat {
  display: grid;
  text-align: center;
  justify-items: center;
  height: calc(100vh - 90px);
  grid-template-columns: 20% 60% 20% 0%;
  grid-area: content;

  .loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 1);
  }
}
