.not_choose_dialog {
  height: 100%;
  width: 100%;
  background: #141517;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  i {
    font-size: 60px;
  }
  p {
    font-size: 25px;
    margin-top: 20px;
  }
}

.preloader {
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  background: #141517;
  justify-content: center;
}
